$color-white: #fff;
$color-black: #000;


$break-point-mobile: 700px;
$break-point-tablet: 900px;
$break-point-desktop: 1200px;

$CirceFont: 'Circe';
$CirceBoldFont: 'CirceBold';
$CirceExtraBoldFont: 'CirceExtraBold';

$header-height: 50px;


$item-hover-bg-color: rgba(0, 0, 0, 0.11);
$item-hover-bg-transition: background-color .2s ease-in;