$color-white: #fff;
$color-black: #000;


$break-point-mobile: 700px;
$break-point-tablet: 900px;
$break-point-desktop: 1200px;

$CirceFont: 'Circe';
$CirceBoldFont: 'CirceBold';
$CirceExtraBoldFont: 'CirceExtraBold';

$header-height: 50px;
